.mainBackgroundImage {
  width: 1440px;
  height: 100%;
  /*background-image: url("../map.PNG");*/
}
.mainBackgroundImage::after {
  content: "";
  background-image: url("../map.PNG");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.7;
  position: absolute;
  left:0;
  z-index: -1;
  width: 1440px;
  height: 100%;

}
a, a:visited {
  color:#333;
}

#container {
  padding-top:20px;
  width: 100%;
  border-left: 2px #ddd solid;
  border-right: 2px #ddd solid;
}

header {
  padding: 10px;
}

#book-title {
  font-family: georgia, "times new roman", times, serif;
  color: #555;
  font-size: 2.3em;
  text-align: center;
}

#text-select {
  float:right;
  margin-right: 10px;
}

#vis {
  overflow: hidden;
  position: relative;
}

#status {
  padding:0 0 20px 20px;
}

#controls {
  padding: 20px;
  background-color: #eee;
  margin: 10px;
  width: 350px;
}

#bubble-background {
  fill: none;
  pointer-events: all;
}

.bubble-node {
  /* fill: #d1e0f3; */
  fill: #DCE9BE;
}

.bubble-hover {
  /* fill: #b8c7d9; */
  fill: #E8E9E7;
}

.bubble-selected {
  /* fill: #a8c8ee;  */
  fill: #CEE98F;
  /* stroke: #6081a3; */                            
  stroke: #A6BA92;
  stroke-width: 1.5px;
}

.status .active {
  color: #A6BA92
}

a.bubble-label {
  font-family: georgia, "times new roman", times, serif;
  color: inherit;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 1em;
  position: absolute;
}


.bubble-label .bubble-label-value {
  font: 11px sans-serif;
  white-space: nowrap;
}

footer p {
  text-align: center;
  padding-top:20px;
  padding-bottom:20px;
  font: 13px sans-serif;
}

.hulkrideImage { 
  width:330px;
  height:250px;
  position: absolute;
  top: 30px;
  right: 66px;
}

.batmanImage {
  width:430px;
  height:225px;
  position: absolute;
  bottom: 110px;
  right:36px;
}

.goliathImage { 
  width:352px;
  height:305px;
  position: absolute;
  top: 150px;
  left: 30px;
}

.spacemountainImage{
  width:252px;
  height:198px;
  position: absolute;
  bottom: 70px;
  left: 75px;
}

.sevenTrainImage { 
  width:252px;
  height:198px;
  position: absolute;
  top: 30px;
  left: 245px;
}
.sentimentButtons { 
  text-align: center;
  padding:20px;
}

.sentimementButtons a {
  margin:10px;
}

.tweetDiv { 
  margin-top: 20px;
  padding:10px;
  background: rgba(47, 194, 239, .1);
  overflow: hidden;
}

.tweetBtn {
  background-color: #2FC2EF;
  margin-top: 10px;
  color:white;
  float: right;
}

.videoDiv { 
  width:100%;
  display: block;
  text-align: center;
}

.tweetDivTextarea { 
border: 1px solid #e1e8ed;
width:100%;
padding: 5px;
background-color: #f6f6f6;
margin-top: 10px;
}

.tweetDivTitle { 
  color: #8899a6;
  text-align:  center;
  line-height: 22px;
  font-size: 15px;
  border-bottom: solid 1px rgba(47, 194, 239, .25);
}

.mainBackgroundImage .modal-dialog { 
  width: 1200px;
}

.tweet.list-group-item {
  color:#888;
}

.mainBackgroundImage .sentimentButtons .btn-primary.positiveBtn {
  background-color: #dff0d8;
  color:#888;
  border: 1px solid #ddd
}

.mainBackgroundImage .sentimentButtons .btn-primary.neuBtn {
  background-color: #fcf8e3;
  color:#8a6d3b;
  border: 1px solid #ddd;
}

.mainBackgroundImage .sentimentButtons .btn-primary.negBtn {
  background-color: #f2dede;
  color:#a94442;
  border: 1px solid #ddd;
}